{% extends 'accueil.html.twig' %}

{% block title %}EntreeController!{% endblock %}

{% block body %}
<a class="btn btn-primary" href="{{ path('entree_add') }}"><i class="fas fa-plus"></i> Nouveau</a>
    {% if message_success is defined %}
        <span class="text-success">
        {{ message_success }}
        </span>
    {% endif %}
     {% if message_error is defined %}
        <span class="text-danger">
        {{ message_error }}
        </span>
    {% endif %}
<div class="row">
          <div class="col-md-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Liste dessorties</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>N°</th>
                      <th>Date sortie</th>
                      <th>Quantité</th>
                      <th>Produit</th>
                      <th>Options</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for sortie in sorties %}
                    <tr>
                      <td>{{ sortie.id}}</td>
                      <td>{{ sortie.dateS | date('d/m/Y') }}</td>
                      <td>{{ sortie.qteS }}</td>
                      <td>{{ sortie.produit.libelle }}</td>
                      <td>
                        <a class="btn btn-warning" href="{{ path('update_sortie',{'id': sortie.id}) }}"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" href="{{ path('delete_sortie',{'id': sortie.id}) }}" onClick="return confirm('Etez vous sure de vouloir suprimer')"><i class="fas fa-trash"></i></a>
                      </td>
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          </div>
          <div class="card col-md-4">
              <div class="card-header">Formulaire de gestion des sortie</div>
              <div class="card-body">
                  {{form(form)}}
              </div>
          </div>
      </div>
{% endblock %}
